@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



*{
    color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

nav img{
    width: 15rem;
}

.button-header button{
    background-color: hsl(193, 100%, 96%);
    border-radius: 3rem;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    padding: 1rem 3rem;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.1);
}

.button-header button:hover{
    background-color: hsl(150, 100%, 96%);
    cursor: pointer;
}

header{
    background-image: url(../images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color:hsl(193, 100%, 96%);
    margin-bottom: 10rem;
}

.conteiner-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.image-header{
    width: 55%;
}

.conteiner-header img{
    width: 100rem;
    text-align: center;
}

.text-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 30%;
}

header h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 4.8rem;
    margin-top: 8rem;
    margin-bottom: 2rem;
    line-height: 5.6rem;
}

.text-header p{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    margin-bottom: 4rem;
    line-height: 3rem;
}

#button-header-text{
    background-color: hsl(322, 100%, 66%);
    color: white;
    border-radius: 3rem;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    padding: 1rem 3.5rem;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grow-together, 
.flowing-conversation, 
.your-users{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0rem 0.4rem 2rem 0.5rem rgba(0, 0, 0, 0.1);
    width: 85%;
    margin: 2rem 0;
    padding: 5rem;
}

.grow-together img, 
.flowing-conversation img, 
.your-users img{
    width: 60rem;
}

.text-grow-together,
.text-your-users{
    margin-left: 5rem;
}

.text-flowing-conversation{
    margin-right: 5rem;
}

.grow-together h2, .flowing-conversation h2, .your-users h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 3.2rem;
    margin-bottom: 2rem;
    font-weight: 700;
    color: hsl(192, 100%, 9%);
}

.grow-together p, .flowing-conversation p, .your-users p{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    line-height: 2.8rem;
    color: hsl(208, 11%, 55%);
    width: 60rem;
}